duckdb
fastparquet
pandas
ipython
ipykernel
polars
mysql-connector-python
graphviz
pyarrow
folium
shapely
leafmap
mapclassify
geopandas
jupysql
duckdb-engine
toml
matplotlib
seaborn
keyring
huggingface_hub
conda install mysqlclient -c conda-forge -y
# Optional tools (not Python packages)
# Tad - viewer for CSV, Parquet, SQLite, and DuckDB databases - https://github.com/antonycourtney/tad/releases/
# graphviz - download and install from https://graphviz.gitlab.io/_pages/Download/Download_windows.html
